<%- include('partials/header') %>

<h2>Edit Post</h2>
<form action="/update/<%= id %>" method="POST">
  <div class="mb-3">
    <label>Title</label>
    <input
      type="text"
      name="title"
      value="<%= post.title %>"
      class="form-control"
      required
    />
  </div>
  <div class="mb-3">
    <label>Content</label>
    <textarea name="content" class="form-control" rows="5" required>
<%= post.content %></textarea
    >
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<%- include('partials/footer') %>
